
image{
    margin-bottom: 10px;
}

h1{
    color:rgb(58, 58, 179) ;
    font-size: 30px;
    margin-bottom: 10px;
}
header p{
    font-size: 15px;
    margin bottom: 10px;
}
nav{
    font-size: ;
    color: white;
    font-weight: bold;
    margin-bottom:10px ;
}
nav a:hover{
    color:black;
}
section{
    padding: 20px;
    text-align: center;
}
h2{
    color:black;
    margin-bottom: 15px;
}
section a{
    background-color: rgb(160, 16, 160);
    margin-top: 10px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}