*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #002147;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    color: #f1c40f;
}

section{
    padding: 40px;
    text-align: center;
    background-color:rgb(214, 203, 203);
}

h2{
    margin-bottom: 20px;
}
